<!DOCTYPE html>
<html lang="zxx"><head>
  <title>Get back to the </title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Sail-trip Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<style id="__web-inspector-hide-shortcut-style__" type="text/css">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>

<body>
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div>
          <h1>
            <a href="index.html"><img src="/static/images/logo.png" width = 200px></a>
          </h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        
      </nav>
      <!-- //nav -->
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="main-banner">
      <div class="container-fluid">
        <div class="style-banner ">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-9">
              <div class="banner-right-txt">
                <h4>Get back to</h4>
                <h4>the colorful 20th centry</h4>

                <div class="view-buttn mt-md-4 mt-sm-4 mt-3"width = 50>
                  <a href="/uploadPic" class="btn">upload</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
  <!-- about -->
  
  <!-- //about -->
  <!-- counter-reset -->
  
  <!--//counter-reset -->
  <!-- service -->
  
  <!--//service -->
  <!--blog -->
  <section class="blog" id="blog">
    <div class="container-fluid" style="text-align: center">
        <h1> Some Examples</h1>
      <div class="row mt-lg-4 mt-3">


          <div class="col-lg-3" style="text-align: center">
              <h6>
                  Before
              </h6>
          <img src="/static/media/013.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-3" style="text-align: center">
             <h6>
                  After
              </h6>
          <img src="/static/media/res013.jpg" alt="news image" class="img-fluid">
        </div>


          <div class="col-lg-3" style="text-align: center">
              <h6>
                  Before
              </h6>
          <img src="/static/media/011.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-3" style="text-align: center">
             <h6>
                  After
              </h6>
          <img src="/static/media/res011.jpg" alt="news image" class="img-fluid">
        </div>
<br>
      </div>
         <div class="row mt-lg-4 mt-3">

          <div class="col-lg-3" style="text-align: center">
              <h6>
                  Before
              </h6>
          <img src="/static/media/009.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-3" style="text-align: center">
             <h6>
                  After
              </h6>
          <img src="/static/media/res009.jpg" alt="news image" class="img-fluid">
        </div>

          <div class="col-lg-3" style="text-align: center">
              <h6>
                  Before
              </h6>
          <img src="/static/media/014.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-3" style="text-align: center">
             <h6>
                  After
              </h6>
          <img src="/static/media/res014.jpg" alt="news image" class="img-fluid">
        </div>

      </div>
        <br>
    </div>
  </section>
  <!--//blog-->
  <!-- Booking-here -->
  
  <!--//Booking-here -->
  <!-- clients -->
  
  <!-- //clients -->
  <!-- footer -->
  <footer class="py-lg-3 py-md-2 py-sm-3 py-2">
    <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          
        </div>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->
  <!-- footer-copy-write -->
  <div class="footer-copy-write py-3">
    <div class="container py-2">
      <div class="bottem-txt-footer text-center">
        <h2>
            <a href="https://i.cs.hku.hk/~yksong/COMP7305/web/index.html">Group 12</a>
        </h2>
        <p>Yang Xueya & Zhang Zixuan & Song Yukun & Zhou Han</p>
		<p>© 2019 COMP7305 GROUP12 . All Rights Reserved        </p>
      </div>
    </div>
  </div>
  <!--//footer-copy-write -->

</body></html>